body {
    font-family: 'Solitreo', cursive;
    background-color: #FFD56F;
}

header {
	display: flex;
    container: headcont / inline-size;
}

@container headcont (min-width: 200px) {
    h1 {
        font-size: 3rem;         
    }
}

@media (hover: hover) {
  /* when hover is supported */
  h3:hover {
    color: white;
  /*  background: black; */
  }
}

a {
    font-family: sans-serif;
}

h1 {
    text-align: center;
	margin: auto;
}

li {
    font-size: 1.25rem;
}

ul > ul {
    display: none;
}

.primarylist {
    list-style-type: none;
    margin: 5% 25%;

}

@media screen and (max-width: 600px) {
    .primarylist {
        margin: 5% 2%;
    }	
}
